.palette-form {
  text-align: center;
}

.palette-title-input {
  background: black;
  border-color: #2d9fcc;
  border-radius: 3px 3px 3px 3px;
  color: white;
  height: 30px;
  margin: 5px;
  width: 20%;
}

.palette-save-btn {
  display: block;
  margin: 0 auto;
  background: black;
  color: #2d9fcc;
  font-size: 1em;
  border-radius: 3px 3px 3px 3px;
  font-family: 'Permanent Marker';
  border: 1px solid grey;
  width: 20%;
  height: 35px;
  border-color: #2d9fcc;
  &:hover {
    cursor: pointer;
  }
}

select {
  background: black;
  border-color: #2d9fcc;
  color: white;
  height: 37px;
  margin: 5px;
  width: 20%;
  &:hover {
    cursor: pointer;
  }
}