.project-container {
  display: inline-grid;
  padding: 20px 20px;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-gap: 20px 15px; */
  /* padding: 20px 20px; */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr)); */
  
  justify-content: center;
  overflow: scroll;
}