.main-content {
  background-color: black;
  overflow: scroll;
  height: 100vh;
}

.button-container {
  margin: auto;
  text-align: center;
}

.generate-btn {
  margin: 0 auto;
  background: black;
  color: #2d9fcc;
  font-size: 1.5em;
  border-radius: 3px 3px 3px 3px;
  font-family: 'Permanent Marker';
  border: 1px solid grey;
}

.main-header {
  color: #2d9fcc;
  font-family: 'Rock Salt', cursive;
  /* font-family: 'Permanent Marker', cursive; */
  font-size: 3em;
  margin: 10px 40px;
}

.user-projects {
  display: flex;
  flex-direction: column;
  /* grid-gap: 20px 15px; */
  /* grid-template-columns: repeat(auto-fit, minmax(120px, 0.3fr)); */
}